.ForgotPasswordWrapper {
  background-color: #f0f2f5;
  margin: 0 auto;
  display: flex;
  height: 1000px;
  flex-direction: column;
  align-items: center;
  padding: 7rem;
  gap: 2rem;

  @media (max-width: 500px) {
    padding-top: 15rem;
  }
}

.forgotPasswordForm {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 1.5rem;
  width: 100%;
  max-width: 700px;

  @media (max-width: 850px) {
    width: 300px;
    height: 70%;
  }
}

.formButtons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.FormSubmitting {
  cursor: not-allowed;
}

.inputError {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.875em;
}
